# Created by https://www.gitignore.io/api/laravel,elasticbeanstalk,elixir,linux,composer

### Laravel ###
bootstrap/cache/
storage/
.env.*.php
.env.php
.env
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json


# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/


### ElasticBeanstalk ###
.elasticbeanstalk/

### Elixir ###
/_build
/cover
/deps
erl_crash.dump
*.ez


### Composer ###
composer.phar
/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
